{% extends "base.html" %}

{% block title %}Archive | {{ SITENAME }}{% endblock title %}

{% block content %}
<div class="post"><div class="post-archive">
{% for year, year_articles in dates|groupby('date.year')|reverse %}
<h2>{{ year }}</h2>
<ul class="listing">
    {% for article in year_articles %}
    <li><span class="date">{{ article.date|strftime('%Y/%m/%d') }}</span><a href="/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
</div></div>
{% endblock content %}