{% extends "base.html" %}

{% block content %}
{% for article in articles_page.object_list %}
<div class="post">
    <h1 class="post-title"><a href="/{{ article.url }}">{{ article.title }}</a></h1>
    <div class="post-meta">{{ article.date|strftime('%Y-%m-%d') }}</div>
    {% if DISQUS_SHORTNAME and article.comments|lower != 'false' %}
    <a data-disqus-identifier="{{ article.url }}" href="/{{ article.url }}#disqus_thread" class="disqus-comment-count"></a>
    {% endif %}
    <div class="post-content">
        {% set p = article.content.find('<!--more-->') %}
        {% if p!=-1 %}
        {{ article.content[:p] }}
        {% else %}
        {{ article.summary }}
        {% endif %}
    </div>
    <p class="readmore"><a href="/{{ article.url }}">Read More</a></p>
</div>
{% endfor %}

{% include "partials/pagination.html" %}

{% if DISQUS_SHORTNAME %}
    <script id="dsq-count-scr" src="//{{ DISQUS_SHORTNAME }}.disqus.com/count.js" async></script>
{% endif %}

{% endblock content %}